<h2>Product List</h2>

<a href="{% url 'product_create' %}">➕ Add Product</a>

<table border="1" cellpadding="8">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>₹ {{ product.price }}</td>
        <td>
            <a href="{% url 'product_update' product.id %}">Edit</a> |
            <a href="{% url 'product_delete' product.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
